/* ==========================================
   TEMA DASAR & RESET
========================================== */
body { 
    background-color: #141517; 
    color: #C1C2C5; 
    font-family: 'Inter', sans-serif; 
    overflow: hidden; 
}

/* Mencegah highlight biru bawaan browser saat tombol diklik di perangkat mobile */
* { 
    -webkit-tap-highlight-color: transparent; 
}

/* ==========================================
   CUSTOM SCROLLBAR (Tampilan Elegan & Ramping)
========================================== */
.custom-scrollbar::-webkit-scrollbar { 
    width: 4px; 
    height: 4px; 
}

.custom-scrollbar::-webkit-scrollbar-track { 
    background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb { 
    background: #373A40; 
    border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover { 
    background: #5C5F66; 
}

/* ==========================================
   KONFIGURASI MESIN CETAK (STRUK THERMAL)
========================================== */
@media print {
    /* Sembunyikan seluruh elemen UI aplikasi saat proses print */
    body * { 
        visibility: hidden; 
    }
    
    /* Hanya tampilkan area struk */
    #print-area, #print-area * { 
        visibility: visible; 
    }
    
    /* Posisikan struk tepat di pojok kiri atas kertas mesin kasir */
    #print-area { 
        position: absolute; 
        left: 0; 
        top: 0; 
        width: 100%; 
        margin: 0; 
        padding: 0; 
    }
    
    /* Hilangkan margin default kertas browser */
    @page { 
        margin: 0mm; 
    }
}